@media (max-width: 1023px) {
  .container {
		max-width: 580px;
    padding-left: 25px;
		padding-right: 25px;
  }

  .header {
    height: 72px;
  }

  .header-logo {
    width: 104px;
  }

  .header-gnav-btn {
    display: block;
  }

  .header-gnav {
    display: none;
  }

  .header-gnav-bar {
    display: block;
    height: 2px;
    background-color: black;
  }

  .m-top {
    width: 22px;
  }

  .m-middle {
    width: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .m-bottom {
    width: 23px;
  }

  .mv-area {
    flex-direction: column;
    align-items: center;
  }

  .mv-box {
    text-align: center;
  }

  .mv-box p:first-child {
    font-size: 25px;
    padding-top: 0px;
    /* TODO: ヘッダーとの距離が適当 */
  }

  .mv-img {
    padding-top: 30px;
    width: 325px;
    padding-left: 0;
  }

  .mv {
    background: url(../img/mv_bg_sp.png);
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .scroll-icon {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}