@media (max-width: 1023px) {
  .container {
		max-width: 580px;
    padding-left: 25px;
		padding-right: 25px;
  }

  .header {
    height: 72px;
  }

  .header-logo {
    width: 104px;
  }

  .header-gnav-btn {
    display: none;
  }

  .header-gnav {
    display: none;
  }
}