@media (max-width: 1023px) {
  .container {
		max-width: 580px;
    padding-left: 25px;
		padding-right: 25px;
  }

  .header {
    height: 72px;
  }

  .header-logo {
    width: 104px;
  }

  .header-gnav-btn {
    display: block;
  }

  .header-gnav {
    display: none;
  }

  .header-gnav-bar {
    display: block;
    height: 2px;
    background-color: black;
  }

  .m-top {
    width: 22px;
  }

  .m-middle {
    width: 30px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  .m-bottom {
    width: 23px;
  }
}